*{
    margin: 0;
    padding: 0;
    background-color: aliceblue;
}

#heading{
    color: crimson;
    margin: 40px;
    text-decoration: underline;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif ;
}

.picture{
    display:flex;
    align-items: center;
    justify-content: center;
}

.result{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: azure;
    margin: 30px;
    height: 350px;
    width: 250px;
}

.button{
    align-items: center;
    justify-content: center;
}

#cat_btn{
    padding: 5px;
    width: 250px;
    margin-right: 40px;
    background-color: bisque;
    color: darkorchid;
    font-weight: bold;
    border: none;
}

#dog_btn{
    padding: 5px;
    width: 250px;
    margin-left: 20px;
    background-color: bisque;
    color: darkorchid;
    font-weight: bold;
    border: none;
}

img{
    object-fit: fill;
    object-fit: cover;
    height: 350px;
    width: 250px;
}